<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Store</span>
    </a>

    <ul class="nav nav-pills">
      <% unless user_signed_in? %>
        <li class="nav-item btn btn-light me-1">
          <%= link_to "Sign In", user_session_path %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item btn btn-light me-1">
          <%= link_to "Orders", orders_path %>
        </li>
        <li class="nav-item btn btn-light me-1">
          <%= link_to "Cart", cart_path %>
          <%= define_quantity_items_in_cart %>
        </li>
        <li class="nav-item btn btn-light me-1">
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
        </li>
      <% end %>
    </ul>
  </header>
</div>