<h1>Product <%= "#{@product.name}" %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= image_tag image_url(@product.image, height:'10', width:'10') %></td>
  </tr>
</table>

<h2>Category <%= @product.category.title %></h2>