<div class="col">
  <div class="card shadow-sm">
    <div style='width:100%;height:225px;'>
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(:small) %>
      <% else %>
        none
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">
      <p><%= product.description %></p>
      <div class="d-flex justify-content-between align-items-center">
<!--        <button type="button" class="btn btn-secondary"><%#= link_to "View", product %></button>-->
        <%= link_to 'View', product_path(product), class: "btn btn-secondary" %>
        <small class="text-muted">Price: <%= product.price %></small>
      </div>
      <% if @user_signed %>
        <div class="d-flex">
          <%= turbo_frame_tag dom_id(product) do %>
            <% if LineItem.all_product_with_cart(current_cart).find_by(product_id: product.id).nil? %>
              <%= button_to 'Add to cart', line_items_path(product_id: product.id), class: "btn btn-outline-dark flex-shrink-0" %>
            <% else %>
              <%= button_to '+', line_item_path(LineItem.all_product_with_cart(current_cart).find_by(product_id: product.id), act: 'add', product_id: product.id), method: :patch %>
              <%= LineItem.all_product_with_cart(current_cart.id).find_by(product_id: product.id).quantity %>
              <%= button_to '-', line_item_path(LineItem.all_product_with_cart(current_cart).find_by(product_id: product.id), product_id: product.id), method: :patch %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
